body{
    background-color:rgba(50, 95, 79, 0.582);
}
.navbar {
    background-color: rgb(109, 168, 148) !important;
}

.bodyArea {
    background-color: rgba(50, 95, 79, 0.582);
}

.container {
    background-color: black;
}

#coinTable *{
    background-color: rgb(209, 198, 181) ;
}


.logo{
    border-radius: 50%;
}